.navbar {
    background-color: #212429;
    display: flex;
    justify-content: center;
}
.nav-item a {
    color: #aeaeaf;
    text-decoration: none;
    margin: 0 0.5em 0 0.5em;
}
.nav-item a:hover {
    color: #eeeeef;
}
.navbar-nav {
    margin-right: 2em;
}
.navbar-brand {
    margin-left: 2em;
}
.apresentacao {
    height: 100%;
    background-color: #000;
    color: #fff;
}
.centered-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    text-align: center;
}
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.content img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}
.text {
    max-width: 600px;
    margin-top: 20px;
}

@media (min-width: 768px) {
  .content {
    flex-direction: row;
    text-align: left;
  }
  .centered-content {
    flex-direction: row;
    text-align: left;
  }
  .content .text {
    margin-top: 0;
    margin-right: 20px;
  }
  .content img {
    margin-top: 0;
  }

  .navbar-brand img {
    margin: auto;
  }
}